.big-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  /* border: 2px black solid; */
  font-size: 2rem;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

header span {
  font-size: 2.5rem;
}

h1 {
  margin: 0 60px;
}

.change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px red solid; */
  width: 80%;
  height: 500px;
  align-items: center;
  margin: 0 auto;
}

.change-zone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 500px;
  height: 40%;
  /* border: 2px blue solid; */
  /* margin-bottom: 50px; */
}

.change-zone input {
  width: 50%;
  height: 60%;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: white;
}

.change-zone span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 30%;
  height: 70%;
  /* border: 2px red solid; */
  border-radius: 10px;
}

.select {
  background-color: rgb(211, 210, 235);
  width: 100%;
  height: 50%;
  color: black;
  font-size: 1.2rem;
}

.button {
  /* border: 2px green solid; */
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  border-radius: 50px;
  margin-right: 10px;
}

.arrow {
  font-size: 2rem;
}
